.navbar {
    width: 100%;
    height: 80px;
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid $primary;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.brand-container {
    display: flex;
    align-items: center;
}

.navbar-brand {
    color: $primary;
    font-size: 16px;
    margin-right: 5px;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: $primary;
    margin-left: 20px;
    font-size: 12px;
}

a.nav-link {
    color: $primary;
    font-weight: lighter;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
}

.footer-column {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.footer-column {
    border-left: none;
}
.h3, p{
    text-align: center;
}

@media screen and (max-width: 480px) {
    .navbar-brand {
        font-size: 14px;
    }
    .links a {
        margin-left: 10px;
        font-size: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .navbar {
        height: 60px;
        padding: 0 10px;
    }
    .navbar-brand {
        font-size: 14px;
    }
    .links a {
        margin-left: 10px;
        font-size: 10px;
    }
}

@media screen and (min-width: 769px) {
    .navbar {
        height: 80px; 
    }
    .navbar-brand {
        font-size: 16px; 
    }
    .links a {
        margin-left: 20px;
        font-size: 12px; 
    }
}