.shop {
 margin-bottom:4rem;
}
.shopTitle {
  margin-top: 5%;
  text-align: center;
  font-size: 2.5rem;
}

.products {
  width: 90%; 
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.product {
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier Prime', monospace;
  padding: 20px;
  box-sizing: border-box;
}

.product img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.product .description {
  text-align: center;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid $text;
  min-width: 100px;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
}

.addToCartBttn:hover {
  background-color: $primary;
  color: $secondary;
  cursor: pointer;
  border: none;
}

h1 {
  font-weight: lighter;
  margin-top: 5%;
}

b {
  margin-top: 5%;
}

.header {
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-family: 'Courier Prime', monospace;
  color: $primary;
}

.cover {
  width: 100%;
  max-width: 1310px;
  margin-top: -6%;
}


@media screen and (min-width: 768px) {
  .products {
      grid-template-columns: repeat(2, 1fr);
  }
  .empty{
    font-size:1em;
  }
}

@media screen and (min-width: 1024px) {
  .products {
      grid-template-columns: repeat(3, 1fr);
  }
}


